<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                Bolsa
            </th>
            <th>
                Usuario
            </th>
            <th>
                Data
            </th>
            <th>
                Situação
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Imformação 1
            </td>
            <td>
                Mateus Cappaun Chaves
            </td>
            <td>
                01/10/2019
            </td>
            <td>
                Desligamento
            </td>
        </tr>
        <tr>
            <td>
                Imformação 1
            </td>
            <td>
                Mateus Cappaun Chaves
            </td>
            <td>
                01/10/2019
            </td>
            <td>
                Ligamento
            </td>
        </tr>
    </tbody>
</table>