<table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>
                    Agência
                </th>
                <th>
                    Programa
                </th>
                <th>
                    Nivel
                </th>
                <th>
                    Modalidade
                </th>
            </tr>
        </thead>
        <tbody>
            <tr (click)="detalhar()">
                <td>
                    Imformação 1
                </td>
                <td>
                    Imformação 2
                </td>
                <td>
                    Imformação 3
                </td>
                <td>
                    Imformação 4
                </td>
            </tr>
            <tr (click)="detalhar()">
                <td>
                    Imformação 1
                </td>
                <td>
                    Imformação 2
                </td>
                <td>
                    Imformação 3
                </td>
                <td>
                    Imformação 4
                </td>
            </tr>
            <tr (click)="detalhar()">
                <td>
                    Imformação 1
                </td>
                <td>
                    Imformação 2
                </td>
                <td>
                    Imformação 3
                </td>
                <td>
                    Imformação 4
                </td>
            </tr>
        </tbody>
    </table>