<div class="form-group">
    <form [formGroup]="bolsaForm">
        <div class="row container-fluid"> 
            <div class="col-md-12 col-lg-12 col-xs-12">
                <label><strong>Agência : </strong> INFORMAÇÃO</label>
            </div>
            <div class="col-md-6 col-lg-6 col-xs-6">
                <label><strong>Programa : </strong> INFORMAÇÃO</label>
            </div>
            <div class="col-md-6 col-lg-6 col-xs-6">
                <label><strong>Nivel : </strong> INFORMAÇÃO</label>
            </div>
            <div class="col-md-6 col-lg-6 col-xs-6">
                <label><strong>Modalidade : </strong> INFORMAÇÃO</label>
            </div>
            <div class="col-md-6 col-lg-6 col-xs-6">
                <label><strong>Centro de Custo : </strong> INFORMAÇÃO</label>
            </div>

            <div class="col-md-12 col-lg-12 col-xs-12">
                <label><strong>Usuario : </strong> NOME USUARIO</label>
            </div>

            <hr class="col-md-12 col-lg-12 col-xs-12" *ngIf="botoes">

            <div class="col-md-12 col-lg-12 col-xs-12" *ngIf="botoes">
                <button type="button" (click)="editarBolsa()" class="btn btn-success pull-right">Editar</button>
                <button type="button" (click)="associarUsuario()" class="btn btn-default">Associar Usuario</button>
                <button type="button" (click)="movimentacao()" class="btn btn-primary pull-left">Ver Movimentação</button>
            </div>
        </div>  
    </form>
</div>  