<div class="row container-fluid">

    <div class="col-md-12">
        <label>Nome</label>
        <input class="form-control" placeholder="Nome...">
    </div>

    <div class="col-md-6">
        <label>CPF / RG</label>
        <input class="form-control" type="text" placeholder="CPF / RG...">
    </div>

    <div class="col-md-6">
        <label>Matricula</label>
        <input class="form-control" type="text" placeholder="Matricula...">
    </div>

    <div class="col-md-6">
        <label>Email</label>
        <input class="form-control" placeholder="Email...">
    </div>

    <div class="col-md-6">
        <label>Telefone</label>
        <input class="form-control" type="text" placeholder="Telefone...">
    </div>

    <hr class="col-md-12">

    <div class="col-md-12" style="margin-top: 12px; margin-bottom: 12px;">
        <button type="button" class="btn btn-success pull-right">Cadastrar</button>
    </div>

</div>     