<div class="row container-fluid">

    <div class="col-md-12">
        <label>Banco</label>
        <input class="form-control" placeholder="Agencia...">
    </div>

    <div class="col-md-6">
        <label>Agência</label>
        <input class="form-control" type="text" placeholder="Programa...">
    </div>

    <div class="col-md-6">
        <label>Conta</label>
        <input class="form-control" type="text" placeholder="Nivel...">
    </div>

    <hr class="col-md-12">

    <div class="col-md-12" style="margin-top: 12px; margin-bottom: 12px;">
        <button type="button" class="btn btn-success pull-right">Cadastrar</button>
    </div>

</div>     