<div class="form-group">
    <form [formGroup]="bolsaForm">
        <div class="row container-fluid">  
            <div *ngIf="msg">
                <div class="alert alert-success">
                    <h5 style="text-align: center;">Operação realizada com sucesso.</h5>
                </div>
            </div>
            <div class="col-md-12 col-lg-12 col-xs-12">
                <label>Agência</label>
                <input class="form-control" placeholder="Agencia...">
            </div>
            <div class="col-md-6 col-lg-6 col-xs-6">
                <label>Programa</label>
                <input class="form-control" type="text" placeholder="Programa...">
            </div>
            <div class="col-md-6 col-lg-6 col-xs-6">
                <label>Nivel</label>
                <input class="form-control" type="text" placeholder="Nivel...">
            </div>
            <div class="col-md-6 col-lg-6 col-xs-6">
                <label>Modalidade</label>
                <input class="form-control" placeholder="Modalidade...">
            </div>
            <div class="col-md-6 col-lg-6 col-xs-6">
                <label>Centro de Custo</label>
                <input class="form-control" type="text" placeholder="Centro de Custo...">
            </div>

            <hr class="col-md-12 col-lg-12 col-xs-12">

            <div class="col-md-12 col-lg-12 col-xs-12">
                <button type="button" (click)="cadastrar()" class="btn btn-success pull-right">Cadastrar</button>
            </div>
        </div>  
    </form>
</div>
   